@import "../../../../vendor/filament/filament/resources/css/theme.css";
@import "../../../../vendor/awcodes/filament-table-repeater/resources/css/plugin.css";

@config 'tailwind.config.js';

.fi-sidebar-nav {
    direction: ltr;
}

.fi-sidebar-nav-groups {
    direction: rtl;
}

.fi-sidebar-nav::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(var(--dark-primary-50), 1);
}

.fi-sidebar-nav::-webkit-scrollbar-thumb {
    background-color: rgba(var(--primary-800), 0.8); /* Scrollbar thumb color */
    border-radius: 3px;
}

.fi-sidebar-nav::-webkit-scrollbar-track {
    background-color: rgba(var(--primary-50), 0.5); /* Scrollbar track */
}

.fi-sidebar-nav::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--primary-500), 0.9);
}

.fi-sidebar-nav::-webkit-scrollbar-thumb:active {
    background-color: rgba(var(--primary-700), 1);
}
